# Stock screener result evaluation

## Imports

In [1]:
# Do all imports and installs here
import pandas as pd
import numpy as np
from analysis_utils import read_result_tables

## Extract screener results data

In [8]:
company_info_df, fundamental_df, growth_df, screener_df = read_result_tables()

## Data Exploration

In [8]:
# find extreme mos calculation values which are unlikely to achieve
extremes_df = screener_df[(screener_df.mos/ screener_df.last_low_price)>10]
extremes_df

,Ticker,last_date,last_low_price,price_future,sticker_price,mos
1,SABR,2021-05-12,12.210000,1.193005e+04,2.948925e+03,1.474463e+03
6,HSY,2021-05-13,167.100006,5.406446e+04,1.336391e+04,6.681954e+03
12,RH,2021-05-12,616.809998,2.422068e+05,5.986982e+04,2.993491e+04
14,JYNT,2021-05-13,49.790001,1.368686e+04,3.383182e+03,1.691591e+03
15,CCOI,2021-05-13,74.800003,4.395772e+04,1.086568e+04,5.432838e+03
17,TNET,2021-05-13,76.820000,1.846708e+04,4.564781e+03,2.282390e+03
18,UAL,2021-05-13,51.299999,1.724174e+04,4.261894e+03,2.130947e+03
23,IT,2021-05-13,224.149994,1.035805e+08,2.560351e+07,1.280175e+07
24,RDNT,2021-05-12,22.680000,2.213361e+03,5.471089e+02,2.735545e+02
25,FCPT,2021-05-13,25.709999,3.425919e+11,8.468348e+10,4.234174e+10

In [12]:
growth_df[growth_df.Ticker.isin(extremes_df.Ticker.unique())].iloc[:,0:20]

,Ticker,revenue_gr_curr,eps_curr,roic_gr_5yr,revenue_gr_5yr,eps_gr_5yr,bvps_gr_5yr,fcf_gr_5yr,pe_5yr,yrs_in_5yr,rule1_gr_5yr,pe_default_5yr,roic_gr_10yr,revenue_gr_10yr,eps_gr_10yr,bvps_gr_10yr,fcf_gr_10yr,pe_10yr,yrs_in_10yr,rule1_gr_10yr
260,CCOI,0.049916,0.823849,0.06,0.08,2.18,0.79,0.09,184.04,5.0,0.79,158.0,-0.24,0.08,0.48,0.40,0.06,362.30,10,0.40
518,FCPT,0.115557,1.061159,0.82,0.77,35.69,9.50,5.40,19.82,5.0,9.50,1900.0,0.82,0.77,35.69,9.50,5.40,19.82,6,9.50
666,HSY,0.025052,18.967433,0.92,0.01,0.68,0.66,0.14,17.94,5.0,0.66,132.0,0.56,0.04,0.45,0.44,0.15,20.95,10,0.44
723,IT,0.067883,2.597392,8.47,0.16,7.09,2.14,2.36,702.82,5.0,2.14,428.0,4.74,0.14,4.03,1.23,1.41,367.25,10,1.23
752,JYNT,0.524128,0.240515,1.61,0.49,2.22,0.91,3.80,88.07,5.0,0.91,182.0,0.06,0.44,-1.48,-1.49,3.42,71.54,7,NaN
1131,RDNT,0.183596,0.297052,95.56,0.10,118.87,0.53,0.15,1763.52,5.0,0.53,106.0,52.92,0.09,66.52,0.13,0.05,910.71,10,0.13
1146,RH,0.056586,11.548658,9.43,0.07,16.96,0.66,0.12,304.07,5.0,0.66,132.0,5.75,0.14,10.58,0.57,0.53,200.03,9,0.57
1173,SABR,0.027937,0.578448,1.01,0.09,1.04,0.96,0.11,24.65,5.0,0.96,192.0,0.56,0.08,0.61,0.60,0.16,31.62,7,0.60
1325,TNET,0.100771,3.028571,0.74,0.12,0.74,1.62,1.40,23.97,5.0,0.74,148.0,0.57,0.16,0.49,1.19,1.11,38.22,7,0.49
1375,UAL,0.047357,11.626739,0.83,0.02,1.08,0.68,0.22,8.28,5.0,0.68,136.0,0.44,0.08,0.41,0.77,-0.28,10.21,10,0.41

In [14]:
fundamental_df[fundamental_df.Ticker=='RDNT'].sort_values('Fiscal Year')

,Ticker,Report Date_is,SimFinId,Currency,Fiscal Year,Fiscal Period_is,Publish Date_is,Restated Date_is,Shares (Basic)_is,Shares (Diluted)_is,...,Retained Earnings,Total Equity,Total Liabilities & Equity,Dividends Paid_clean,roic,eps,bvps,fcf,mean_low_price,pe
10844,RDNT,2010-12-31,143984,USD,2010,FY,2011-03-11,2013-03-18,36853477.0,36853477.0,...,-242841000.0,-82473000.0,539514000,0.0,-0.023821,-0.348732,-2.237862,168266000.0,2.558636,-7.336963
10845,RDNT,2011-12-31,143984,USD,2011,FY,2012-03-13,2014-03-17,37367736.0,38785675.0,...,NaN,33099000.0,43900000,0.0,0.164715,0.193509,0.885764,145375000.0,2.159048,11.157339
10846,RDNT,2012-12-31,143984,USD,2012,FY,2013-02-13,2015-03-16,37751170.0,39244686.0,...,NaN,35970000.0,42103000,0.0,1.421134,1.584957,0.952818,162317000.0,2.405300,1.517580
10847,RDNT,2013-12-31,143984,USD,2013,FY,2014-03-17,2016-03-15,39140480.0,39814535.0,...,NaN,35012000.0,40652000,0.0,0.052150,0.054164,0.894521,117082000.0,1.708381,31.540967
10848,RDNT,2014-12-31,143984,USD,2014,FY,2015-03-16,2017-03-17,41070077.0,43149196.0,...,NaN,33176000.0,37316000,0.0,0.036874,0.033504,0.807790,114646000.0,8.464454,252.642293
10849,RDNT,2015-12-31,143984,USD,2015,FY,2016-03-15,2017-03-17,43805794.0,45171372.0,...,NaN,32790000.0,35494000,0.0,0.217192,0.175981,0.748531,163833000.0,6.055727,34.411200
10850,RDNT,2016-12-31,143984,USD,2016,FY,2017-03-17,2017-03-17,46244188.0,46655032.0,...,-150211000.0,52053000.0,849476000,0.0,0.008511,0.156344,1.125612,157131000.0,6.189524,39.589143
10851,RDNT,2017-12-31,143984,USD,2017,FY,2018-03-19,2018-03-19,46880775.0,47401921.0,...,-150158000.0,69925000.0,868979000,0.0,0.000061,0.001131,1.491550,221545000.0,9.792250,8661.665422
10852,RDNT,2018-12-31,143984,USD,2018,FY,2019-03-18,2019-03-18,48114275.0,48678999.0,...,-117915000.0,200253000.0,1109330000,0.0,0.029065,0.670134,4.162029,263503000.0,11.449211,17.084963
10853,RDNT,2019-12-31,143984,USD,2019,FY,2020-03-16,2020-03-16,49674858.0,50244006.0,...,-103159000.0,233139000.0,1646986000,0.0,0.008959,0.297052,4.693300,203787000.0,19.259048,64.833997

## Data Transformation

In [3]:
# merge company info to growth kpi dataset
growth_eval_df = growth_df.merge(company_info_df.rename(columns={'ticker':'Ticker'}),
                        how='left',
                        on='Ticker',
                        validate='1:1')
growth_eval_df.head(2)

,Ticker,revenue_gr_curr,eps_curr,roic_gr_5yr,revenue_gr_5yr,eps_gr_5yr,bvps_gr_5yr,fcf_gr_5yr,pe_5yr,yrs_in_5yr,...,logo,ceo,exchange,market cap,sector,tag 1,tag 2,tag 3,peer_string,peer_list
0,A,0.050672,3.410828,0.12,0.05,0.18,0.04,0.16,31.95,5.0,...,A.png,Michael R. McMullen,New York Stock Exchange,2.421807e+10,Healthcare,Healthcare,Diagnostics & Research,Medical Diagnostics & Research,"TMO,PKI,DHR,TER,NATI,ILMN,AME,BRKR,GE,SPMYY","[TMO, PKI, DHR, TER, NATI, ILMN, AME, BRKR, GE..."
1,AA,-0.221592,-6.081081,-1.03,-0.01,-1.04,-0.16,-0.07,-3.39,5.0,...,AA.png,Roy Christopher Harvey,New York Stock Exchange,5.374967e+09,Basic Materials,Basic Materials,Aluminum,Metals & Mining,"ACH,KALU,CENX,NHYDY,AWCMY,BBL,BHP","[ACH, KALU, CENX, NHYDY, AWCMY, BBL, BHP]"

In [4]:
screener_eval_df = screener_df.merge(company_info_df.rename(columns={'ticker':'Ticker'}),
                        how='left',
                        on='Ticker',
                        validate='1:1')
screener_eval_df.head(2)

,Ticker,last_date,last_low_price,price_future,sticker_price,mos,company name,short name,industry,description,...,logo,ceo,exchange,market cap,sector,tag 1,tag 2,tag 3,peer_string,peer_list
0,FIZZ,2021-06-04,49.400002,493.871839,122.077565,61.038783,National Beverage Corp.,National Beverage,Beverages - Non-Alcoholic,National Beverage Corp is engaged in the devel...,...,None,Nick A. Caporella,Nasdaq Global Select,3.922616e+09,Consumer Defensive,Consumer Defensive,Beverages - Soft Drinks,Beverages - Non-Alcoholic,"COKE,MNST,KO,PEP,REED,JSDA","[COKE, MNST, KO, PEP, REED, JSDA]"
1,VZ,2021-06-04,56.900002,522.162754,129.070647,64.535323,Verizon Communications Inc.,Verizon Communications,Communication Services,Verizon Communications Inc is a provider of co...,...,VZ.png,Hans Erik Vestberg,New York Stock Exchange,2.235627e+11,Communication Services,Communication Services,Telecom Services,None,"T,TMUS,SHEN,DTEGY,TDS,USM,VOD,SPOK,GOOGL,AAPL","[T, TMUS, SHEN, DTEGY, TDS, USM, VOD, SPOK, GO..."

In [9]:
fundamental_eval_df = fundamental_df.merge(company_info_df.rename(columns={'ticker':'Ticker'}),
                        how='left',
                        on='Ticker',
                        validate='m:1')
fundamental_eval_df.head(2)

,Ticker,Report Date_is,SimFinId,Currency,Fiscal Year,Fiscal Period_is,Publish Date_is,Restated Date_is,Shares (Basic)_is,Shares (Diluted)_is,...,logo,ceo,exchange,market cap,sector,tag 1,tag 2,tag 3,peer_string,peer_list
0,A,2010-10-31,45846,USD,2010,FY,2010-12-20,2012-12-20,347000000.0,353000000.0,...,A.png,Michael R. McMullen,New York Stock Exchange,2.421807e+10,Healthcare,Healthcare,Diagnostics & Research,Medical Diagnostics & Research,"TMO,PKI,DHR,TER,NATI,ILMN,AME,BRKR,GE,SPMYY","[TMO, PKI, DHR, TER, NATI, ILMN, AME, BRKR, GE..."
1,A,2011-10-31,45846,USD,2011,FY,2011-12-16,2013-12-19,347000000.0,355000000.0,...,A.png,Michael R. McMullen,New York Stock Exchange,2.421807e+10,Healthcare,Healthcare,Diagnostics & Research,Medical Diagnostics & Research,"TMO,PKI,DHR,TER,NATI,ILMN,AME,BRKR,GE,SPMYY","[TMO, PKI, DHR, TER, NATI, ILMN, AME, BRKR, GE..."

## Load analysis results to disk

In [5]:
growth_eval_df.to_excel('../data/4_data_analysis/' + str(pd.to_datetime('today'))[:10] + '_growth_eval_df.xlsx', index=False)

In [6]:
screener_eval_df.to_excel('../data/4_data_analysis/' + str(pd.to_datetime('today'))[:10] + '_screener_eval_df.xlsx', index=False)

In [10]:
fundamental_eval_df.to_excel('../data/4_data_analysis/' + str(pd.to_datetime('today'))[:10] + '_fundamental_eval_df.xlsx', index=False)

## Document notebook as markdown file

In [11]:
# export notebook to markdown for documentation
!jupyter nbconvert --to markdown result_evaluation.ipynb

[NbConvertApp] Converting notebook result_evaluation.ipynb to markdown
[NbConvertApp] Writing 23263 bytes to result_evaluation.md